//FONT-SIZE
$image-path: "public/images/";


$text: 14px;
$subtitle: 23px;
$section-header: 30px;
$main-header: 53px;
$menu: 21px;

//FONT-WEIGHT
$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;

$main-font: 'Roboto', sans-serif;
$secondary-font: 'Source Sans Pro', sans-serif;


//COLORS
$accent-color: #ff0066;
$main-color: #ffffff;
$foreground-color: #615855;
$title-color: #000000;


//GRAY
$gray-color--light: #b7b7b7;
$gray-color: #aeaeae;
$gray-color--dark: #555555;

